#!/usr/bin/env bash

source "$BC_BASH/functions/load_startup_files.bash"
load_startup_files '.inputrc'


#                 Auto Placed By Scripts                  #
#                  Move To Local/OSType                   #
# ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ #
